<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logs</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--<script src="/scripts/jquery.min.js"></script>-->
    <script src="/scripts/lodash.min.js"></script>
    <script type="text/javascript">

        var username = null;
        var logins = null;
        var listings = null;
        var startDate = null;
        var endDate = null;


        var logs = null;

        $(function() {
            $("#from-datepicker").datepicker({
                dateFormat: 'dd/mm/yy'
            });
            $("#to-datepicker").datepicker({
                dateFormat: 'dd/mm/yy'
            });

            $("#username-textfield").hide();

            $("#prev-button").hide();
            $("#next-button").hide();

        });


        function byUserNameClicked() {
            var checkBox = $("#username-checkbox");
            var usernameField = $("#username-textfield");
            if (checkBox[0].checked === true) {
                usernameField.show();
            } else {
                usernameField.val('');
                usernameField.hide();
            }
        }

        function checkCheckboxes() {
            var loginsCheckbox = $("#logins-checkbox")[0];
            var listingsCheckbox = $("#listings-checkbox")[0];
            var everythingCheckbox = $("#everything-checkbox")[0];

            if (loginsCheckbox.checked === true && listingsCheckbox.checked === true) {
                everythingCheckbox.checked = true;
            } else {
                everythingCheckbox.checked = false;
            }
        }

        function loginsClicked() {
            checkCheckboxes();

        }

        function listingsClicked() {
            checkCheckboxes();
        }

        function everythingClicked() {
            var loginsCheckbox = $("#logins-checkbox")[0];
            var listingsCheckbox = $("#listings-checkbox")[0];
            var everythingCheckbox = $("#everything-checkbox")[0];

            if (everythingCheckbox.checked === true) {
                loginsCheckbox.checked = true;
                listingsCheckbox.checked = true;
            } else {
                loginsCheckbox.checked = false;
                listingsCheckbox.checked = false;
            }
        }

        function clearStartDate() {
            $.datepicker._clearDate('#from-datepicker');
        }

        function clearEndDate() {
            $.datepicker._clearDate('#to-datepicker');
        }




        function submitRequest() {

            var token = localStorage.getItem("token");

            var loginsCheckbox = $("#logins-checkbox")[0];
            var listingsCheckbox = $("#listings-checkbox")[0];
            var usernameCheckbox = $("#username-checkbox")[0];
            var usernameField = $("#username-textfield");



            if (loginsCheckbox.checked === false && listingsCheckbox.checked === false) {
                //TODO: alert with error
                return;
            }

            // Fill the variables

            if (usernameCheckbox.checked === true) {
                username = usernameField.val();
            } else {
                username = null;
            }

            startDate = $("#from-datepicker").val();
            endDate = $("#to-datepicker").val();

            logins = loginsCheckbox.checked;
            listings = listingsCheckbox.checked;

            //TODO: exceptions regards to the username value


            var data = getQuerryParams();

            $.ajax({
                url : 'request',
                dataType: 'json',
                method : 'GET',
                data: data,
                headers: {
                    "Authorization": "Bearer " + token
                },
                success : function(r) {
                    updateTable(r);

                }
            });
        }

        function getQuerryParams() {

            var data = {};


            if (username != null) {
                data["username"] = username;
            }

            if (startDate !== "") {
                data["startDate"] = startDate;
            }

            if (endDate !== "") {
                data["endDate"] = endDate;
            }

            data["logins"] = logins;
            data["listings"] = listings;

            return data;

        }

        function getPreviousLogs() {

            $.ajax({

            })


        }

        function getNextLogs() {

        }

        function updateTable(json) {
            if (json["up"] === true) {
                $("#prev-button").show();
            } else {
                $("#prev-button").hide();
            }

            if (json["down"] === true) {
                $("#next-button").show();
            } else {
                $("#next-button").hide();
            }


            $("#logs-table").empty();

            var table = document.getElementById("logs-table");
            table.innerHTML = document.getElementById("table-headers").innerHTML;
            logs = json["logs"];

            for (var i in logs) {
                var date = logs[i]["date_time"];
                var user = logs[i]["username"];
                var activity = logs[i]["activity"];
                var result = logs[i]["result"];
                var info = logs[i]["additional_info"];
                var logRowTemplate = document.getElementById("log-template").innerHTML;
                var templateF = _.template(logRowTemplate);

                var templateHTML = templateF({
                    'date': date,
                    'user': user,
                    'activity': activity,
                    'result': result,
                    'info': info
                });


                $("#logs-table").append(templateHTML);
            }
        }


    </script>
    <script id="log-template" type="text/x-lodash-template">

        <tr>
            <th><%= date %></th>
            <th><%= user %></th>
            <th><%= activity %></th>
            <th><%= result %></th>
            <th><%= info %></th>
        </tr>


    </script>
    <script id="table-headers" type="text/html">
        <tr>
            <th>Date and time</th>
            <th>User</th>
            <th>Activity</th>
            <th>Result</th>
            <th>Additional information</th>
        </tr>
    </script>
    <style>
        .inline-div {
            display: inline-block;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

    </style>
</head>
<body>

<p>From: <input type="text" id="from-datepicker"></p>
<button type="button" onclick="clearStartDate()">clear</button>
<p>To: <input type="text" id="to-datepicker"></p>
<button type="button" onclick="clearEndDate()">clear</button>


<span class="inline-div">
<input class="inline" type="checkbox" name="byUsername" id="username-checkbox" onclick="byUserNameClicked()">For a user<br>
<input class="inline" type="text" name="username" id="username-textfield">
</span>
<br>

<input type="checkbox" name="logins" id="logins-checkbox" onclick="loginsClicked()">Logins<br>
<input type="checkbox" name="listings" id="listings-checkbox" onclick="listingsClicked()">Listing manipulations<br>
<input type="checkbox" name="everything" id="everything-checkbox" onclick="everythingClicked()">Every log<br>

<input type="button" value="Submit" onclick="submitRequest()">

<button type="button" id="prev-button" onclick="getPreviousLogs()">Previous</button>


<table id="logs-table">
    <tr>
        <th>Date and time</th>
        <th>User</th>
        <th>Activity</th>
        <th>Result</th>
        <th>Additional information</th>
    </tr>
</table>


<button type="button" id="next-button" onclick="getNextLogs()">Next</button>




</body>
</html>